<div id="a1">
    
    <a href="/manjuboystheater" id="a2" style="text-decoration: none;color: white;"><button id="aa2"  style="background-color: rgb(247, 92, 92);color: white;">Book tickets</button></a>
   
    <a href="/manjuboystrailer" id="a3"><img id="aa3" src="/assets/image/manjuboystrailer.png" alt="" style="width: 300px;height: 440px;"></a>

    <img src="/assets/image/manjuboysshare.png" alt="" id="aa4" data-bs-toggle="modal" data-bs-target="#myModal">

    <br><br>
    <div style="margin-top: -305px;margin-left: 420px;">
    <span id="a5" data-bs-toggle="modal" data-bs-target="#myrating" style="cursor: pointer;"><img id="aa5" src="/assets/image/addrating.png" alt="" style="width: 490px;height: 80px;border-radius: 3%;margin-top: -8px;"></span>
  </div>
            
</div><br><br>

<div class="modal fade"  id="myrating">
  <div class="modal-dialog modal-dialog-centered" style="width: 400px;height: 400px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title" style="color: black;margin-left: 105px;">How was the moive ?</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" >
          <h6 style="margin-left: 10px;">How would you rate the movie ?</h6><br>

          <div class="slider-container">
            <input id="range1"
              type="range" 
              min="0" 
              max="10" 
              [value]="value" 
              (input)="onInputChange($event)"
              (blur)="onBlur()"
              style="width: 280px;margin-left: 8px;">
            <span 
              class="slider-value" 
              [ngClass]="{'show': showValue}"
              [style.left.%]="value / 2"
              style="margin-left: 20px;"
              ><b>
              {{ value }} /10
            </b>
            </span>
          </div><br>
          
          <h6 style="margin-left: 10px;">What did you like ?</h6>
          <h6 style="margin-left: 10px;color: grey;">Express yourself with hastags!</h6>

          <div style="display: flex;justify-content: space-around;margin-top: 20px;">
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor1, 'color': textColor1}" (click)="changeColor('button1')">#OkDirection</button></div>
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor2, 'color': textColor2}" (click)="changeColor('button2')">#GoodActing</button></div>
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor3, 'color': textColor3}" (click)="changeColor('button3')">#GoodMusic</button></div>
          </div>

          <div style="display: flex;justify-content: space-around;margin-top: 10px;">
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor4, 'color': textColor4}" (click)="changeColor('button4')">#NiceStory</button></div>
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor5, 'color': textColor5}" (click)="changeColor('button5')">#HitMovie</button></div>
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor6, 'color': textColor6}" (click)="changeColor('button6')">#OneTimeWatch</button></div>
          </div>

          <div style="display: flex;justify-content: space-around;margin-top: 10px;">
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor7, 'color': textColor7}" (click)="changeColor('button7')">#Enjoyable</button></div>
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor8, 'color': textColor8}" (click)="changeColor('button8')">#LovelyMusic</button></div>
            <div><button id="eyebutton" [ngStyle]="{'background-color': bgColor9, 'color': textColor9}" (click)="changeColor('button9')">#FunWatch</button></div>
          </div>

          <h6 style="margin-left: 10px;margin-top: 50px;">Express more, write a review <span style="font-size: x-small;color: grey;">(Optional)</span></h6>
          <span style="font-size: x-small;color: grey;margin-top: 15px;margin-left: 10px;">Your opinion matters</span><br>
          <input type="" style="width: 90%;border: none;border-bottom: solid 1px black;outline: none;margin-left: 10px;margin-right: 10px;height: 30px;">
        <button style="color: white;background-color:rgb(247, 92, 92);margin-top: 30px;width: 100%;height: 50px;border: none;border-radius: 10px;" (click)="alertWithSuccess()"><b>Sumbit Review</b></button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade"  id="myModal">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px;height: 300px;">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" style="color: black;margin-left: 160px;">Share</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" style="margin-bottom: -15px;">
            <a href="https://www.facebook.com" style="text-decoration: none;color: black;font-size: 20px;">
                    <div style="display: flex;justify-content: space-between;">
                            <div><p>facebook</p></div>
                            <div><i class="fa-brands fa-facebook"></i></div>
                     </div>
             </a>
          <hr style="margin-top: -5px;">
          <a href="https://twitter.com/i/flow/login" style="text-decoration: none;color: black;font-size: 20px;">
                    <div style="display: flex;justify-content: space-between;">
                            <div><p>X (Formerly Twitter)</p></div>
                            <div><i class="fa-brands fa-x-twitter"></i></div>
                    </div>
            </a>
          <hr style="margin-top: -5px;">
          <a href="https://www.instagram.com/accounts/login" style="text-decoration: none;color: black;font-size: 20px;">
             <div style="display: flex;justify-content: space-between;">
                    <div><p>instagram</p></div>
                    <div><i class="fa-brands fa-square-instagram"></i></div>
             </div>
            </a>
    </div>
      </div>
    </div>
</div>


<h6 style="margin-left: 135px;font-size: 24px;color: black;"><b>About the movie</b></h6>
<p style="margin-left: 135px;margin-top: 20px;">A group of friends get into a daring rescue mission to save their friend from Guna Caves, a perilously deep pit from where <br> nobody has ever been brought back.<br><br><hr style="width: 890px;"></p>

<h6 style="margin-left: 135px;font-size: 24px;color: black;margin-top: 30px;"><b>Cast</b></h6>
<img src="/assets/image/manjuboysactor1.png" alt="" width="900px" style="margin-left: 120px;margin-top: 15px;"><br>
<hr style="width: 890px;margin-left: 135px;margin-top: 20px;"><br>

<h6 style="margin-left: 135px;font-size: 24px;color: black;"><b>Crew</b></h6>
<img src="/assets/image/manjuboysactor2.png" alt="" width="900px" style="margin-left: 130px;margin-top: 15px;"><br>
<hr style="width: 890px;margin-left: 135px;margin-top: 20px;"><br>

<div style="display: flex; justify-content: space-between;">    
<div><h6 style="margin-left: 135px;font-size: 24px;color: black;margin-top: -10px;"><b>Top reviews</b></h6></div>
<div><h6 style="font-size: 17px;margin-top: -10px;margin-right: 500px;"><a  routerLink="/manjuboysrating" style="text-decoration: none;color: rgb(247, 92, 92);">59K reviews ></a></h6></div>
</div><br>
<p style="margin-left: 135px;margin-top: -5px;color: gray;">Summary of 59K reviews.</p>
<img style="margin-left: 120px;margin-top: -5px;"  width="900px" src="/assets/image/rating photo.png" alt=""><br>



<div id="carouselExampleInterval" data-bs-ride="carousel" class="carousel slide " data-bs-ride="carousel"  style="margin-left: 100px;margin-right: 500px;margin-top: 40px;cursor: none;">
    <div class="carousel-inner" style="cursor: alias;">
      <div class="carousel-item active">
        <a routerLink="/manjuboysrating"><img src="/assets/image/ratingslide1.png" class="d-block " style="margin-left: 225px;" width="450px" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/manjuboysrating"><img src="/assets/image/ratingslide2.png" class="d-block " style="margin-left: 225px;" width="450px" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/manjuboysrating"><img src="/assets/image/ratingslide3.png" class="d-block " style="margin-left: 225px;" width="450px" alt="..."></a>
      </div>
    </div>
    <b><button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" style="background-color: gray;height: 50px;width: 50px;border-radius: 50%;margin-left: 150px;margin-top: 100px;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button></b>
    <b><button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" style="margin-right: 170px;background-color: gray;height: 50px;width: 50px;border-radius: 50%;margin-top: 100px;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button></b>
  </div><br><br>
  <hr style="width: 890px;margin-left: 135px;margin-top: 5px;"><br><br>