<h2 style="margin-left: 160px;margin-top: 40px;">Ranam Aram Thavarel - tamil</h2>
<div style="display: flex;margin-left: 160px;">
    <nav><button style="border-radius: 50%;background-color: white;color: grey;border: solid 1px grey;font-size: small;">UA</button></nav>
    <nav style="margin-left: 20px;"><button style="border-radius: 50px;background-color: white;color: grey;border: solid 1px grey;font-size: small;">Mystery</button></nav>
    <nav style="margin-left: 10px;"><button style="border-radius: 50px;background-color: white;color: grey;border: solid 1px grey;font-size: small;">Thriller</button></nav>
</div><hr>
<div style="display: flex;">
    <aside style="display: flex;margin-top: -10px;margin-left: 157px;">
        <article><button class="z1" [ngStyle]="{'background-color': bgColor1, 'color': textColor1}" (click)="changeColor('button1')" style="font-size: smaller;background-color: white;border: none;outline: none;">SUN <br> <b>18</b> <br> AUG</button></article>
        <article><button class="z1" [ngStyle]="{'background-color': bgColor2, 'color': textColor2}" (click)="changeColor('button2')" style="font-size: smaller;background-color: white;border: none;outline: none;">MON <br> <b>19</b> <br> AUG</button></article>
        <article><button class="z1" [ngStyle]="{'background-color': bgColor3, 'color': textColor3}" (click)="changeColor('button3')" style="font-size: smaller;background-color: white;border: none;outline: none;">TUE <br> <b>20</b> <br> AUG</button></article>
        <article><button class="z1" [ngStyle]="{'background-color': bgColor4, 'color': textColor4}" (click)="changeColor('button4')" style="font-size: smaller;background-color: white;border: none;outline: none;">WEB <br> <b>21</b> <br> AUG</button></article>
        <article><button class="z1" [ngStyle]="{'background-color': bgColor5, 'color': textColor5}" (click)="changeColor('button5')" style="font-size: smaller;background-color: white;border: none;outline: none;">THU <br> <b>22</b> <br> AUG</button></article>
        <article><button class="z1" [ngStyle]="{'background-color': bgColor6, 'color': textColor6}" (click)="changeColor('button6')" style="font-size: smaller;background-color: white;border: none;outline: none;">FRI <br> <b>23</b> <br> AUG</button></article>
        <article><button class="z1" [ngStyle]="{'background-color': bgColor7, 'color': textColor7}" (click)="changeColor('button7')" style="font-size: smaller;background-color: white;border: none;outline: none;">SAT <br> <b>24</b> <br> AUG</button></article>
    </aside>

    <article style="display: flex;margin-left: 400px;margin-top: 5px;">
        <div style="background-color: lightgrey;padding-left: 1px;margin-right: 20px;margin-top: -21px;"></div>
        <div><p>Tamil - 2D</p></div>
        <div style="background-color: lightgrey;padding-left: 1px;margin-left: 20px;margin-top: -21px;"></div>
        <div style="margin-left: 10px;"><select id="y" style="cursor: pointer;border: none;outline: none;width: 160px;">
            <option>Filter Range Price</option>
            <option>Rs. 0-100</option>
            <option>Rs. 101-200</option>
            <option>Rs. 201-400</option>
        </select></div>
        <div style="background-color: lightgrey;padding-left: 1px;margin-left: 20px;margin-top: -21px;"></div>
        <div style="margin-left: 10px;"><select id="c" style="cursor: pointer;border: none;outline: none;">
            <option>Filter Show Timings</option>
            <option>Morning <span>12:00-11:59 AM</span></option>
            <option>Afternoon <span>12:00-03:59 PM</span></option>
            <option>Evening <span>04:00-06:59 PM</span></option>
            <option>Night <span>07:00-11:59 PM</span></option>
        </select></div>
        <div style="background-color: lightgray;padding-left: 1px;margin-left: 20px;margin-top: -21px;"></div>
    </article>
</div>
<div style="background-color: whitesmoke;padding-top: 10px;"></div>
<aside style="display: flex;">
    <nav style="background-color: whitesmoke;width: 155px;"></nav>
    <nav style="width: 100%">

        <div style="display: flex;justify-content: end;margin-top: 10px;">
            <div style="margin-right: 20px;display: flex;"><span class="green-dot"></span><p style="font-size: x-small;">AVAILABLE</p></div>
            <div style="margin-right: 20px;display: flex;"><span class="red-dot"></span><p style="font-size: x-small;">FAST FILLING</p></div>
            <div style="margin-right: 20px;"><p style="font-size: x-small;">SUBTITLES LANGUAGE</p></div>
        </div>
        <hr style="margin-top: -5px;">

        <nav>
            <p style="margin-left: 80px;"><b>AGS Cinemas OMR: Navlur</b></p>
            <div style="display: flex;">
                <div style="display: flex;margin-left: 82px;"><i class="fa-solid fa-mobile-screen" style="color: green;font-size: 22px;"></i><p style="color: green;margin-left: 10px;margin-top: -2px;">M-Ticket</p></div>
                <div style="display: flex;margin-left: 20px;"><i class="fa-solid fa-cookie-bite" style="color:orange;font-size: 22px;"></i><p style="color: orange;margin-left: 10px;margin-top: -2px;">Food & Beverage</p></div>

                <aside style="display: flex;margin-left: 80px;margin-top: -20px;">
                    <nav><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: rgb(247, 92, 92);width: 120px;border-radius: 5px;border: solid 1px lightgrey;">07:40 PM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY 7.1</span></button></a></nav>
                    <nav style="margin-left: 20px;"><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: rgb(247, 92, 92);width: 120px;border-radius: 5px;border: solid 1px lightgrey;">10:00 PM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY ATMOS</span></button></a></nav>
                    <nav style="margin-left: 20px;"><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: rgb(247, 92, 92);width: 120px;border-radius: 5px;border: solid 1px lightgrey;">10:55 PM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY 7.1</span></button></a></nav>
                </aside>
            </div>
            <div style="margin-left: 425px;display: flex;"><span class="yellow-dot"></span><p style="font-size: small;color: grey;">Cancellation Available</p></div>
        </nav>

        <hr style="margin-top: -5px;">

        <nav>
            <p style="margin-left: 80px;"><b>Rohini Silver Screens: Koyambedu</b></p>
            <div style="display: flex;">
                <div style="display: flex;margin-left: 82px;"><i class="fa-solid fa-mobile-screen" style="color: green;font-size: 22px;"></i><p style="color: green;margin-left: 10px;margin-top: -2px;">M-Ticket</p></div>
                <div style="display: flex;margin-left: 20px;"><i class="fa-solid fa-cookie-bite" style="color:orange;font-size: 22px;"></i><p style="color: orange;margin-left: 10px;margin-top: -2px;">Food & Beverage</p></div>

                <aside style="display: flex;margin-left: 80px;margin-top: -20px;">
                    <nav><button style="font-size: smaller;background-color: white;color: lightgrey;width: 120px;border-radius: 5px;border: solid 1px lightgrey;" disabled>07:00 AM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY 7.1</span></button></nav>
                    <nav style="margin-left: 20px;"><button style="font-size: smaller;background-color: white;color: lightgrey;width: 120px;border-radius: 5px;border: solid 1px lightgrey;" disabled>11:00 AM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY ATMOS</span></button></nav>
                    <nav style="margin-left: 20px;"><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: rgb(247, 92, 92);width: 120px;border-radius: 5px;border: solid 1px lightgrey;">12:55 PM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY 7.1</span></button></a></nav>
                    <nav style="margin-left: 20px;"><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: green;width: 120px;border-radius: 5px;border: solid 1px lightgrey;">05:10 PM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY 7.1</span></button></a></nav>
                </aside>
            </div>
            <div style="margin-left: 425px;display: flex;"><span class="yellow-dot"></span><p style="font-size: small;color: grey;">Non-cancellable</p></div>
        </nav>

        <hr style="margin-top: -5px;">

        <nav>
            <p style="margin-left: 80px;"><b>PVR: Grand Mall, Velachery</b></p>
            <div style="display: flex;">
                <div style="display: flex;margin-left: 82px;"><i class="fa-solid fa-mobile-screen" style="color: green;font-size: 22px;"></i><p style="color: green;margin-left: 10px;margin-top: -2px;">M-Ticket</p></div>
                <div style="display: flex;margin-left: 20px;"><i class="fa-solid fa-cookie-bite" style="color:orange;font-size: 22px;"></i><p style="color: orange;margin-left: 10px;margin-top: -2px;">Food & Beverage</p></div>

                <aside style="display: flex;margin-left: 80px;margin-top: -20px;">
                    <nav><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: green;width: 120px;border-radius: 5px;border: solid 1px lightgrey;">06:40 AM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY 7.1</span></button></a></nav>
                    <nav style="margin-left: 20px;"><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: rgb(247, 92, 92);width: 120px;border-radius: 5px;border: solid 1px lightgrey;">10:00 AM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY ATMOS</span></button></a></nav>
                </aside>
            </div>
            <div style="margin-left: 425px;display: flex;"><span class="yellow-dot"></span><p style="font-size: small;color: grey;">Non-cancellable</p></div>
        </nav>

        <hr style="margin-top: -5px;">

        <nav>
            <p style="margin-left: 80px;"><b>INOX: The Marina Mall, OMR</b></p>
            <div style="display: flex;">
                <div style="display: flex;margin-left: 82px;"><i class="fa-solid fa-mobile-screen" style="color: green;font-size: 22px;"></i><p style="color: green;margin-left: 10px;margin-top: -2px;">M-Ticket</p></div>
                <div style="display: flex;margin-left: 20px;"><i class="fa-solid fa-cookie-bite" style="color:orange;font-size: 22px;"></i><p style="color: orange;margin-left: 10px;margin-top: -2px;">Food & Beverage</p></div>

                <aside style="display: flex;margin-left: 80px;margin-top: -20px;">
                    <nav><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: rgb(247, 92, 92);width: 120px;border-radius: 5px;border: solid 1px lightgrey;">06:40 AM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY ATMOS</span></button></a></nav>
                    <nav style="margin-left: 20px;"><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: rgb(247, 92, 92);width: 120px;border-radius: 5px;border: solid 1px lightgrey;">10:00 AM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY ATMOS</span></button></a></nav>
                    <nav style="margin-left: 20px;"><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: green;width: 120px;border-radius: 5px;border: solid 1px lightgrey;">07:40 PM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY 7.1</span></button></a></nav>
                </aside>
            </div>
            <div style="margin-left: 425px;display: flex;"><span class="yellow-dot"></span><p style="font-size: small;color: grey;">Cancellation Available</p></div>
        </nav>

        <hr style="margin-top: -5px;">

        <nav>
            <p style="margin-left: 80px;"><b>AGS Cinemas: T.Nagar</b></p>
            <div style="display: flex;">
                <div style="display: flex;margin-left: 82px;"><i class="fa-solid fa-mobile-screen" style="color: green;font-size: 22px;"></i><p style="color: green;margin-left: 10px;margin-top: -2px;">M-Ticket</p></div>
                <div style="display: flex;margin-left: 20px;"><i class="fa-solid fa-cookie-bite" style="color:orange;font-size: 22px;"></i><p style="color: orange;margin-left: 10px;margin-top: -2px;">Food & Beverage</p></div>

                <aside style="display: flex;margin-left: 80px;margin-top: -20px;">
                    <nav><a routerLink="/a"><button style="font-size: smaller;background-color: white;color: green;width: 120px;border-radius: 5px;border: solid 1px lightgrey;">12:45 AM <br> <span style="font-size: x-small;margin-top: -15px;">4K DOLBY ATMOS</span></button></a></nav>
                     </aside>
            </div>
            <div style="margin-left: 425px;display: flex;"><span class="yellow-dot"></span><p style="font-size: small;color: grey;">Non-cancellable</p></div>
        </nav>

            <div style="background-color: whitesmoke;padding: 10px;"></div>

            <div style="display: flex;margin-top: 10px;">
                <aside><p style="color: grey;margin-left: 40px;">Home <i class="fa-solid fa-arrow-right" style="margin-left: 5px;"></i></p></aside>
                <aside><p style="color: grey;margin-left: 10px;">Movies<i class="fa-solid fa-arrow-right" style="margin-left: 5px;"></i></p></aside>
                <aside><p><a routerLink="/ranam" style="color: grey;text-decoration: none;margin-left: 10px;">Ranam Aram Thavarel</a></p></aside>
            </div>

            <div style="background-color: whitesmoke;padding: 10px;"></div>


            <div style="background-color: whitesmoke;height: 80px;">
                <p style="font-size: small;color: grey;margin-left: 8px;"><b>Privacy Note</b></p>
                <p style="font-size: x-small;margin-top: -10px;margin-left: 8px;">By using www.bookmyshow.com(our website), you are fully accepting the Privacy Policy available at https://bookmyshow.com/privacy governing your access to Bookmyshow and provision of services by Bookmyshow to you. If you do not accept terms mentioned in the Privacy Policy, you must not share any of your personal information and immediately exit Bookmyshow.</p>
            </div>
    </nav>
    <nav style="background-color: whitesmoke;width: 160px;"></nav>
</aside>