<div id="carouselExampleInterval" data-bs-ride="carousel" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <a routerLink="/stream"><img src="/assets/image/slide2.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <a routerLink="/offers"><img src="/assets/image/slide1.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/sports"><img src="/assets/image/slide3.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/event"><img src="/assets/image/eventslide1.png" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
  </div>
  <b><button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button></b>
  <b><button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button></b>
  
   <!-- Indicators/dots -->
   <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3"></button>
    </div>
</div><br><br>
  
    <!-- ----------nextline---------->
  <h5 style="margin-left: 102px;font-size: 24px;"><b>Premiere of the Week</b></h5><br>
  
<!-- ------------nextline ----------->
 <div id="a3">
    <!-----------------first image------------------>
  <div class="card" style="width:250px;height: 130px;">
    <a routerLink="/stream1" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/streamph1.png" alt="Card image" style="width:100%;border-radius: 10px;">
    <div class="card-body">
      <h4 class="card-title">Fear</h4>
      <p>Horror</p>
    </div>
    </a>
  </div>
    <!-- -----------------second image---------------------->
    <div class="card" style="width:250px;height: 130px;">
      <a  routerLink="/stream2" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/streamph2.png" alt="Card image" style="width:100%;border-radius: 10px;">
      <div class="card-body">
        <h4 class="card-title">Naadu</h4>
        <p>Drama</p>
      </div>
      </a>
    </div>
      <!-- -------------------third image---------------------->
      <div class="card" style="width:250px;height: 130px;">
        <a routerLink="/stream3" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/streamph3.png" alt="Card image" style="width:100%;border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">Anyone But You</h4>
          <p>Comedy,Romantic</p>
        </div>
        </a>
      </div>
        <!-- -------------------------------------fourth image---------------------------------->
        <div class="card" style="width:250px;height: 130px;">
          <a routerLink="/stream4" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/streamph4.png" alt="Card image" style="width:100%;border-radius: 10px;">
          <div class="card-body">
            <h4 class="card-title">Sin Sister</h4>
            <p>Drama</p>
          </div>
          </a>
    </div>
    </div><br><br>

    <h5 style="margin-left: 102px;font-size: 24px;margin-top: 350px;"><b>New on Stream</b></h5><br>

    <div id="a4">
      <!-----------------first image------------------>
    <div class="card" style="width:250px;height: 130px;">
      <a routerLink="/stream5" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/streamph5.png" alt="Card image" style="width:100%;border-radius: 10px;">
      <div class="card-body">
        <h4 class="card-title">Dog</h4>
        <p>Comedy</p>
      </div>
      </a>
    </div>
      <!-- -----------------second image---------------------->
      <div class="card" style="width:250px;height: 130px;">
        <a routerLink="/stream6" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/streamph6.png" alt="Card image" style="width:100%;border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">Kida</h4>
          <p>Drama</p>
        </div>
        </a>
      </div>
        <!-- -------------------third image---------------------->
        <div class="card" style="width:250px;height: 130px;">
          <a routerLink="/stream7" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/streamph7.png" alt="Card image" style="width:100%;border-radius: 10px;">
          <div class="card-body">
            <h4 class="card-title">Oppenheimer</h4>
            <p>Biography,Drama,Historical</p>
          </div>
          </a>
        </div>
          <!-- -------------------------------------fourth image---------------------------------->
          <div class="card" style="width:250px;height: 130px;">
            <a routerLink="/stream8" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/streamph8.png" alt="Card image" style="width:100%;border-radius: 10px;">
            <div class="card-body">
              <h4 class="card-title">The Expendables 3</h4>
              <p>Action,Adventure,Thriller</p>
            </div>
            </a>
      </div>
      </div><br>
      <a routerLink="/stream"><img src="assets/image/book any time.png" alt="" style="margin-top: 400px;margin-bottom:20px;width: 1300px;margin-left: 110px;border-radius: 10px;"></a><br>
   <br><br>