<hr style="margin-top: -1px;">
<div style="padding-top: 20px;">
    <div style="background-color: whitesmoke;width: 143px;padding-top: 20px;margin-top: -35px;"></div>
    <div style="background-color: whitesmoke;width: 143px;padding-top: 20px;margin-top: -20px;margin-left: 1374px;"></div>
<img src="/assets/image/giftcard.png" alt="" width="100%" style="padding-top: -10px;">
</div>
<div style="padding: 30px;background-color: whitesmoke;"></div>
<img src="/assets/image/giftcard2.png" alt="" width="100%">

<div style="display: flex;margin-left: 145px;padding-top: 10px;padding-bottom: 10px;">
    <nav style="font-size: small;"><a routerLink="/movie" style="text-decoration: none;color: grey;">Online Tickets</a></nav>
    <nav style="color: grey;font-size: small;margin-left: 10px;"><i class="fa-solid fa-right-long"></i></nav>
    <nav style="color: grey;font-size: small;margin-left: 10px;cursor: pointer;">Giftcards</nav>
</div>
<div style="background-color: whitesmoke;height: 80px;padding-left: 130px;padding-right: 130px;padding-top: 15px;padding-bottom: 90px;">
    <p style="color: grey;margin-left: 8px;"><b>Privacy Note</b></p>
    <p style="font-size: small;margin-top: -10px;margin-left: 8px;color: grey">By using www.bookmyshow.com(our website), you are fully accepting the Privacy Policy available at <span style="color: rgb(247, 92, 92);cursor: pointer;">https://bookmyshow.com/privacy</span> governing your access to Bookmyshow and provision of services by Bookmyshow to you. If you do not accept terms mentioned in the <span style="color: rgb(247, 92, 92);cursor: pointer;">Privacy Policy</span>, you must not share any of your personal information and immediately exit Bookmyshow.</p>
</div>
