
    <div><img src="/assets/image/listyourshow.png" alt="" style="width: 600px;height: 380px;margin-left: 460px;margin-top: 70px;"></div><br>
    <div style="display: flex;margin-left: 130px;">
        <nav><a routerLink="/movie" style="text-decoration: none;"><p style="font-size: small;color: gray;">Online Tickets</p></a></nav>
        <nav><p><i class="fa-solid fa-arrow-right" style="color: gray;margin-left: 10px;"></i></p></nav>
        <nav><a routerLink="/stream" style="text-decoration: none;"><p style="font-size: small;color: gray;margin-left: 10px;">List Your Show</p></a></nav>
    </div>
    <article style="background-color: whitesmoke;height: 110px;">
        <p style="color:grey;margin-left: 130px;padding-top: 10px;"><b>Privacy Note</b></p>
        <p style="font-size: small;color: grey;margin-left: 130px;margin-top: -5px;padding-bottom: 20px;">By using www.bookmyshow.com(our website), you are fully accepting the Privacy Policy available at <span style="color: rgb(247, 92, 92);cursor: pointer;"> https://bookmyshow.com/privacy </span> governing your access to Bookmyshow and provision of services by Bookmyshow to you. <br> If you do not accept terms mentioned in the <span style="color: rgb(247, 92, 92);cursor: pointer;">Privacy Policy</span>, you must not share any of your personal information and immediately exit Bookmyshow.</p>
    </article>
