#a1{
    height: 480px;
    background-image: url('/assets/image/varanamslide.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 9px;

}
#aa2{
    width: 230px;
    font-size: large;
    margin-left: 440px;
    margin-top: 400px;
    height: 60px;
    border: none;
    border-radius: 5%;
}
#aa3{
    margin-left: -550px;
    margin-top: -380px;
}
#aa4{
    border: none;
    margin-left: 870px;
    width: 140px;
    height: 52px;
    margin-top: -760px;
    border-radius: 10%;
    cursor: pointer;
}
#a5{
    margin-left: 30px;
}
#eyebutton{
    color:  rgb(247, 92, 92);
    border-radius: 50px;
    border: solid 1px grey;
    padding: 5px;
}