   <div id="a1">
    <img src="assets/image/bookmyshowlogo.png" style="width: 150px ;height: 40px;cursor: pointer;margin-left:20px" alt="">
    <input type="text"  placeholder=" 🔍︎ Search for Movies,Events,plays,Sports and Acitivites" style="width: 500px;height: 30px;margin-top: 20px;margin-left:40px;border: solid 1px lightgrey;outline: none;" id="ina1">
    
            <select id="y" style="cursor: pointer;outline: none;">
                <option>Chennai</option>
                <option>Mumbai</option>
                <option>Pune</option>
                <option>Hyderabad</option>
                <option>Delhi</option>
                <option>Bengaluru</option>
                <option>Kolkata</option>
                <option>Ahmedabad</option>
            </select>
           <button style="background-color: rgb(247, 92, 92);margin-left: 20px; color: white; border: none; border-radius: 5px; width: 80px;" data-bs-toggle="modal" data-bs-target="#myModalle">Sign in</button>

           <div class="modal fade"  id="myModalle">
            <div class="modal-dialog modal-dialog-centered" style="width: 450px;height: 450px;background-color: white;border-radius: 20px;">
            <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header" style="margin-top: -300px;">
              <h6 class="modal-title" style="color: black;margin-left: 160px;">Get Started</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" style="margin-left: 40px;height: 45px;border: none;">
              <button style="width: 340px;background-color: white;border: solid 1px black;border-radius: 5px;height: 45px;margin-bottom: 20px;margin-top: 20px;"><a href="https://accounts.google.com/v3/signin/identifier?authuser=0&continue=http%3A%2F%2Fsupport.google.com%2Faccounts%2Fanswer%2F176347%3Fhl%3Den%26co%3DGENIE.Platform%253DAndroid&ec=GAlAdQ&hl=en&flowName=GlifWebSignIn&flowEntry=AddSession&dsh=S890979911%3A1723959532043354&ddm=0" style="text-decoration: none;color: black;font-size: 20px;">
                      <div class="lool" style="display: flex;font-size: 15px;padding-top: 10px;">
                               <div style="margin-left: 35px;"><p><i class="fa-brands fa-google"></i></p></div>
                               <div style="margin-left: 50px;color: gray;"><p>Continue with Google</p></div>        
                         </div>
                 </a></button>
             
                 <button style="width: 340px;background-color: white;border: solid 1px black;border-radius: 5px;height: 45px;margin-bottom: 20px;"><a href="https://accounts.google.com/v3/signin/identifier?authuser=0&continue=http%3A%2F%2Fsupport.google.com%2Faccounts%2Fanswer%2F176347%3Fhl%3Den%26co%3DGENIE.Platform%253DAndroid&ec=GAlAdQ&hl=en&flowName=GlifWebSignIn&flowEntry=AddSession&dsh=S890979911%3A1723959532043354&ddm=0" style="text-decoration: none;color: black;font-size: 20px;">
                  <div class="lool" style="display: flex;font-size: 15px;padding-top: 10px;">
                           <div style="margin-left: 35px;"><p><i class="fa-solid fa-envelope"></i></p></div>
                           <div style="margin-left: 50px;color: gray;"><p>Continue with Email</p></div>        
                     </div>
             </a></button>
             
             <button style="width: 340px;background-color: white;border: solid 1px black;border-radius: 5px;height: 45px;margin-bottom: 20px;"><a href="https://www.icloud.com/" style="text-decoration: none;color: black;font-size: 20px;">
              <div class="lool" style="display: flex;font-size: 15px;padding-top: 10px;">
                       <div style="margin-left: 35px;"><p><i class="fa-brands fa-apple"></i></p></div>
                       <div style="margin-left: 50px;color: gray;"><p>Continue with Apple</p></div>        
                 </div>
         </a></button><br><br>
              <p style="margin-left: 165px;"><b>OR</b></p><br>
            
              <div style="display: flex;">
                <p><i class="fa-solid fa-flag-checkered"></i>&nbsp;&nbsp;+91</p>
                <input (click)="toggleContent()" pattern="^[0-9]{10}$" required type="number" style="border: none;margin-top: -15px;outline: none;border-bottom: solid 1px black;width: 260px;margin-left: 10px;" placeholder="Continue with mobile number">
              </div>

              <p *ngIf="!isNewContentVisible" style="font-size: small;margin-top: 130px;margin-left: 22px;">I agree to the <u style="cursor: pointer;">Terms and Conditions</u> & <u style="cursor: pointer;">Privacy Policy</u></p>

              <button *ngIf="isNewContentVisible"  style="width: 340px;background-color: rgb(247, 92, 92);border:none;border-radius: 5px;height: 45px;margin-top: 130px;color: white;">Continue</button>
            </div>
            </div>
            </div>
            </div>



           <div class="offcanvas offcanvas-end" id="demo">
            <div class="offcanvas-header">
              <h3 class="offcanvas-title">Hi!</h3>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div><hr style="margin-top: -10px;">
            <div class="offcanvas-body">
              <nav style="display: flex;margin-top: -10px;">
                <div><img src="assets/image/gift logo.png" style="width: 70px;height: 65px;margin-left: -10px;margin-top: -15px;"></div>
                <div><p style="font-size: 14px;margin-left: 5px;color: gray;margin-top: -5px;margin-left: 8px;">Unlock special offers & great benefits</p></div>&nbsp;
                <div style="margin-top: -2px;"><button style="color: red;background-color: white;border: solid 1px red;width: 120px;padding-top: 7px;border-radius: 5px;height: 40px;margin-right: 5px;" data-bs-toggle="modal" data-bs-target="#myModalle"><p style="font-size: smaller;">login / Register</p></button></div>
            </nav>
            <hr style="margin-top: 0px;">

            <a href=""><button style="border: none;width: 100%;background-color: white;"><div style="display: flex;margin-top: -15px;" id="bar">
            <p style="font-size: large;margin-left: 10px;margin-top: 17px;"><i class="fa-regular fa-bell"></i></p>
            <p style="font-size: large;margin-left: 34px;margin-top: 15px;">Notifications</p>
            <p style="font-size: x-large;margin-left: 161px;margin-top: 10px;">></p>
           </div></button></a>

           <a href=""><button style="border: none;background-color: white;width: 100%;" disabled><div style="display: flex;" id="bar">
            <p style="font-size: large;margin-left: 10px;margin-top: 23px;"><i class="fa-solid fa-sack-dollar"></i></p>
            <div style="margin-left: -3px;">
              <p style="font-size: large;margin-top: 15px;margin-left: -23px;">Your Orders</p>
              <p style="font-size: x-small;margin-left: 37px;margin-top: -15px;">View all your booking & purchase</p>
            </div>
            <p style="margin-left: 113px;margin-top: 20px;"><i class="fa-solid fa-lock"></i></p>
           </div></button></a>

           <a href=""><button style="border: none;background-color: white;width: 100%;" disabled><div style="display: flex;" id="bar">
            <p style="font-size: large;margin-left: 10px;margin-top: 25px;"><i class="fa-solid fa-tv"></i></p>
            <div style="margin-left: -3px;">
              <p style="font-size: large;margin-top: 15px;margin-left: 25px;">Stream Library</p>
              <p style="font-size: x-small;margin-left: 33px;margin-top: -15px;">Rented & Purchase Movies</p>
            </div>
            <p style="margin-left: 143px;margin-top: 20px;"><i class="fa-solid fa-lock"></i></p>
           </div></button></a>

           <a href=""><button style="border: none;background-color: white;width: 100%;"><div style="display: flex;" id="bar">
            <p style="font-size: large;margin-left: 10px;margin-top: 23px;"><i class="fa-regular fa-credit-card"></i></p>
            <div style="margin-left: -6px;">
              <p style="font-size: large;margin-top: 15px;margin-left: -33px;">Play Credit Card</p>
              <p style="font-size: x-small;margin-left: 39px;margin-top: -15px;">View your play Credit Card details and offers</p>
            </div>
            <p style="font-size: x-large;margin-left: 63px;margin-top: 10px;">></p>
           </div></button></a>

           <a href=""><button style="border: none;background-color: white;width: 100%;"><div style="display: flex;" id="bar">
            <p style="font-size: large;margin-left: 10px;margin-top: 23px;"><i class="fa-regular fa-message"></i></p>
            <div style="margin-left: -10px;">
              <p style="font-size: large;margin-top: 15px;margin-left: -5px;">Help & Support</p>
              <p style="font-size: x-small;margin-left: 48px;margin-top: -15px;">View commonly asked queries and Chat</p>
            </div>
            <p style="font-size: x-large;margin-left: 80px;margin-top: 10px;">></p>
           </div></button></a>

           <a href=""><button style="border: none;background-color: white;width: 100%;" disabled><div style="display: flex;" id="bar">
            <p style="font-size: large;margin-left: 10px;margin-top: 23px;"><i class="fa-solid fa-bars"></i></p>
            <div style="margin-left: -6px;">
              <p style="font-size: large;margin-top: 15px;margin-left: 30px;">Accounts & Settings</p>
              <p style="font-size: x-small;margin-left: 49px;margin-top: -15px;">Location, Payments, Permissions & More</p>
            </div>
            <p style="margin-left: 74px;margin-top: 10px;"><i class="fa-solid fa-lock"></i></p>
           </div></button></a>

           <a href=""><button style="border: none;background-color: white;width: 100%;"><div style="display: flex;" id="bar">
            <p style="font-size: large;margin-left: 10px;margin-top: 23px;"><i class="fa-solid fa-gift"></i></p>
            <div style="margin-left: -6px;">
              <p style="font-size: large;margin-top: 15px;margin-left: -60px;">Rewards</p>
              <p style="font-size: x-small;margin-left: 50px;margin-top: -15px;">View your rewards & Unlock new ones</p>
            </div>
            <p style="margin-left: 77px;margin-top: 10px;font-size: x-large;">></p>
           </div></button></a>
           <hr style="margin-top: -1px;">
          </div>
          </div>
           
           <button style="border: none; background-color: white;margin-left: 30px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            <i style="size-adjust: 10px;" class="fa-solid fa-bars"></i> 
            </button>
          </div>
          <!-- ----next line--- -->
          <div id="a2">
            <div id="aa1">
            <a style="text-decoration: none;color: black;" routerLink="/movie"><li>Movies</li></a>
            <a style="text-decoration: none;color: black;" routerLink="/stream"><li>Stream</li></a>
            <a style="text-decoration: none;color: black;" routerLink="/event"><li>Events</li></a>
            <a style="text-decoration: none;color: black;" routerLink="play"><li>Play</li></a>
            <a style="text-decoration: none;color: black;" routerLink="/sports"><li>Sports</li></a>
          </div>
            <div id="aa2">
              <a style="text-decoration: none;color: black;" routerLink="/listyourshow"><li>List Your Show</li></a>
              <a style="text-decoration: none;color: black;" routerLink="/coporates"><li>Corporates</li></a>
              <a style="text-decoration: none;color: black;" routerLink="/offers"><li>Offers</li></a>
              <a style="text-decoration: none;color: black;" routerLink="/gift"><li>Gift Cards</li></a>
            </div>
          </div>
          
            
              <!-- ----------nextline---------->
          <!-- ---------next line--------- -->
          <!-- Carousel -->



<!-- --------------------------------------------------------mainpart---------------------------------------------- -->

<router-outlet></router-outlet>

<!-- -------------------------------------------------------main part---------------------------------------- -->





 
   <!-- ------------------------nextline---------------------------->
  <div id="a5">
    <div id="same" style="cursor: pointer;">
    <i class="fa-solid fa-handshake-angle"></i>
  </div>
  <div id="same" style="cursor: pointer;">
    <i class="fa-solid fa-ticket"></i>&nbsp;&nbsp;&nbsp;
  </div>
  <div id="same" style="cursor: pointer;">
    <i class="fa-solid fa-envelope"></i>
  </div>
  </div>
  <div id="aa5">
    <div id="ssame" style="margin-left: 93px;cursor: pointer;">
      <p>24/7 CUSTOMER CARE</p>
  </div>
  <div id="sssame" style="cursor: pointer;">
    <p>RESEND BOOKING CONFIRMATION</p>
  </div>
  <div id="sssame" style="cursor: pointer;">
    <P>SUBCRIBE FOR THE NEWS LETTER &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</P>
  </div>
</div>
<nav style="background-color: rgba(0, 0, 0, 0.758);color: gray;padding-top: 50px;padding-left: 180px;padding-bottom: 20px;">
  <p style="cursor: pointer;">MOVIES NOW SHOWING IN CHENNAI</p>
  <p style="font-size: smaller;cursor: pointer;">Manjummel Boys | Dune: Part Two | POR | Joshua: Imai Pol Kaakha | Sathamindri Mutham Tha | Operation Valentine | Siren | Ranam Aram Thavarel | Article 370 | Premalu</p><br>
  <p style="cursor: pointer;">UPCOMING MOVIES IN CHENNAI</p>
  <p style="font-size: smaller;cursor: pointer;">Dui Dune Panch | Boss (Odia) | Jog 101 |
    Thankamani | Jhopadpatti | Unarvugal Thodarkadhai | Oru Bharatha Sarkar Ulpannam | Nalla Perai Vaanga Vendum Pillaigale | Shaitaan | Ghannu Bhai</p><br>
  <p style="cursor: pointer;">MOVIES BY GENRE</p>
  <p style="font-size: smaller;cursor: pointer;">Drama Movies | Thriller Movies | Action Movies | Romantic Movies | Comedy Movies | Adventure Movies | Crime Movies | Animation Movies | Mystery Movies | Historical Movies</p><br>
  <p style="cursor: pointer;">MOVIES BY LANGUAGE</p>
  <p style="font-size: smaller;cursor: pointer;">Movies in Tamil | Movies in English | Movies in Hindi | Movies in Telugu | Movies in Malayalam | Movies in Chattisgarhi | Movies in Khasi | Movies in Tulu | Movies in Portuguese | Movies in English 7D</p><br>
  <p style="cursor: pointer;">SPORTS EVENTS IN CHENNAI</p>
  <p style="font-size: smaller;cursor: pointer;">Volleyball | Football | Cricket | Running | Chess | Archery | Athletics | Badminton | Basketball | Baseball</p><br>
  <p style="cursor: pointer;">EVENTS IN TOP CITIES</p>
  <p style="font-size: smaller;cursor: pointer;">Events in Mumbai | Events in Delhi-NCR | Events in Chennai | Events in Bengaluru | Events in Hyderabad | Events in Pune | Events in Ahmedabad | Events in Kolkata | Events in Kochi</p><br>
  <p style="cursor: pointer;">CINEMAS IN TOP CITIES</p>
  <p style="font-size: smaller;cursor: pointer;">Cinemas in Mumbai | Cinemas in Delhi-NCR | Cinemas in Chennai | Cinemas in Bengaluru Cinemas in Hyderabad | Cinemas in Pune Cinemas in Ahmedabad | Cinemas in Kolkata | Cinemas in Kochi</p><br>
  <p style="cursor: pointer;">PLAYS IN TOP CITIES</p>
  <p style="font-size: smaller;cursor: pointer;">Plays in Mumbai | Plays in Delhi-NCR | Plays in Chennai | Plays in Bengaluru | Plays in Hyderabad | Plays in Pune | Plays in Ahmedabad | Plays in Kolkata | Plays in Kochi</p><br>
  <p style="cursor: pointer;">ACTIVITIES IN TOP CITIES</p>
  <p style="font-size: smaller;cursor: pointer;">Activities in Mumbai | Activities in Delhi-NCR | Activities in Chennai | Activities in Bengaluru | Activities in Hyderabad | Activities in Pune | Activities in Ahmedabad | Activities in Kolkata | Activities in Kochi</p><br>
  <p style="cursor: pointer;">MOVIES NOW SHOWING</p>
  <p style="font-size: smaller;cursor: pointer;">Article 370 | Operation Valentine | Manjummel Boys | Dune: Part Two | Laapataa Ladies | Teri Baaton Mein Aisa Uljha Jiya | Kasoombo | Vyooham | Vanilla Ice Cream | Bhoothaddam Bhaskar Narayana</p><br>
  <p style="cursor: pointer;">COUNTRIES</p>
  <p style="font-size: smaller;cursor: pointer;">Indonesia | Singapore | UAE | Sri Lanka | West Indies</p><br>
  <p style="cursor: pointer;">HELP</p>
  <p style="font-size: smaller;cursor: pointer;">About Us | Contact Us | Current Opening | Press Release | Press Coverage | Sitemap | FAQs | Terms and Conditions | Privacy Policy</p><br>
  <p style="cursor: pointer;">BOOKMYSHOW EXCLUSIVES</p>
  <p style="font-size: smaller;cursor: pointer;">Lollapalooza India | Superstar | BookASmile | Corporate Vouchers | Gift Cards | List My Show | Offers | Stream | Trailers</p><br>
<br>
<img style="margin-left: 500px;" src="assets/image/bookmyshowlogoblack.png" alt=""><br><br>
<article>
  <a class="massmuthu" href="https://www.facebook.com/"><li><i class="fa-brands fa-facebook"></i></li></a>
  <a class="massmuthu" href="https://twitter.com/i/flow/login"><li><i class="fa-brands fa-x-twitter"></i></li></a>
  <a class="massmuthu" href="https://www.instagram.com/accounts/login/"><li><i class="fa-brands fa-square-instagram"></i></li></a>
  <a class="massmuthu" href="https://www.youtube.com/"><li><i class="fa-brands fa-youtube"></i></li></a>
  <a class="massmuthu" href="https://in.pinterest.com/"><li><i class="fa-brands fa-pinterest"></i></li></a>
  <a class="massmuthu" href="https://www.linkedin.com/home"><li><i class="fa-brands fa-linkedin"></i></li></a>
</article><br>
<p style="font-size: smaller;margin-left: 395px;">Copyright 2024 Bigtree Entertainment Pvt. Ltd. All Rights Reserved</p>
<p style="font-size: smaller;margin-left:258px ;margin-top: -18px;">The content and images used on this site are copyright protected and copyrights vests with the respective owners.</p>
<p style="font-size: smaller;margin-left: 550px;margin-top: -18px;">punishable by law.</p>
</nav>

