<div id="carouselExampleInterval" data-bs-ride="carousel" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <a routerLink="/stream"><img src="/assets/image/slide2.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <a routerLink="/offers"><img src="/assets/image/slide1.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/sports"><img src="/assets/image/slide3.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/event"><img src="/assets/image/eventslide1.png" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
  </div>
  <b><button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button></b>
  <b><button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button></b>
  
   <!-- Indicators/dots -->
   <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3"></button>
    </div>
</div><br><br>
  
    <!-- ----------nextline---------->
    <h5 style="margin-left: 102px;font-size: 24px;"><b>Recommended Plays</b></h5><br>
  
    <!-- ------------nextline ----------->
     <div id="a3">
        <!-----------------first image------------------>
      <div class="card" style="width:250px;height: 130px;">
        <a routerLink="/play1" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/playph1.png" alt="Card image" style="height: 420px;border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">Vintage Classic of UAA</h4>
          <p class="card-text" style="margin-top: -3px;">Sree Sairam Hall: Chennai</p>
          <p class="card-text" style="font-size: smaller;margin-top: -17px;">Tamil</p>
          <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 200 onwards</p>
        </div>
        </a>
      </div>
        <!-- -----------------second image---------------------->
        <div class="card" style="width:250px;height: 130px;">
          <a  routerLink="/play2" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/playph2.png" alt="Card image" style="height: 420px;border-radius: 10px;">
          <div class="card-body">
            <h4 class="card-title">Stories at Sunset - Storytime for Adults</h4>
            <p class="card-text" style="margin-top: -3px;">RMZ Software Park Pvt Ltd...</p>
            <p class="card-text" style="font-size: smaller;margin-top: -17px;">English</p>
            <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 250 onwards</p>
          </div>
          </a>
        </div>
          <!-- -------------------third image---------------------->
          <div class="card" style="width:250px;height: 130px;">
            <a routerLink="/play3" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/playph5.png" alt="Card image" style="height: 420px;border-radius: 10px;">
            <div class="card-body">
              <h4 class="card-title">Athirshtakkaran</h4>
              <p class="card-text" style="margin-top: -3px;">Dr MGR Janaki College...</p>
              <p class="card-text" style="font-size: smaller;margin-top: -17px;">Tamil</p>
              <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 300 onwards</p>
            </div>
            </a>
          </div>
            <!-- -------------------------------------fourth image---------------------------------->
            <div class="card" style="width:250px;height: 130px;">
              <a routerLink="/play4" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/playph4.png" alt="Card image" style="height: 420px;border-radius: 10px;">
              <div class="card-body">
                <h4 class="card-title">Sound Healing from Auroville</h4>
                <p class="card-text" style="margin-top: -3px;">IDAM - The Art & Cultural...</p>
                <p class="card-text" style="font-size: smaller;margin-top: -17px;">₹ 1499</p>
              </div>
              </a>
        </div>
        </div><br><br>
    
        <div id="a4">
          <!-----------------first image------------------>
        <div class="card" style="width:250px;height: 130px;">
          <a routerLink="/play5" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/playph3.png" alt="Card image" style="height: 420px;border-radius: 10px;">
          <div class="card-body">
            <h4 class="card-title">Netru Indru Naalai</h4>
            <p class="card-text" style="margin-top: -3px;">Medai - The Stage, Alwarpe...</p>
            <p class="card-text" style="font-size: smaller;margin-top: -17px;">Tamil</p>
            <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 200</p>
          </div>
          </a>
        </div>
          <!-- -----------------second image---------------------->
          <div class="card" style="width:250px;height: 130px;">
            <a routerLink="/play6" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/playph6.png" alt="Card image" style="height: 420px;border-radius: 10px;">
            <div class="card-body">
              <h4 class="card-title">Theatre workshop for children: ACT RE-ACT...</h4>
              <p class="card-text" style="margin-top: -3px;">IDAM - The Art & Cultural...</p>
              <p class="card-text" style="font-size: smaller;margin-top: -17px;">English</p>
              <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 999</p>
            </div>
            </a>
          </div>
            <!-- -------------------third image---------------------->
            <div class="card" style="width:250px;height: 130px;">
              <a routerLink="/play7" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/playph-7.png" alt="Card image" style="height: 420px;border-radius: 10px;">
              <div class="card-body">
                <h4 class="card-title">A Story Walk through Velachery</h4>
                <p class="card-text" style="margin-top: -3px;">The Westin Chennai...</p>
                <p class="card-text" style="font-size: smaller;margin-top: -17px;">English</p>
                <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 299</p>
              </div>
              </a>
            </div>
              <!-- -------------------------------------fourth image---------------------------------->
              <div class="card" style="width:250px;height: 130px;">
                <a routerLink="/play8" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/playph8.png" alt="Card image" style="height: 420px;border-radius: 10px;">
                <div class="card-body">
                  <h4 class="card-title">RANIs of INDIA : A Performance...</h4>
                  <p class="card-text" style="margin-top: -3px;">IDAM - The Art & Cultural...</p>
                  <p class="card-text" style="font-size: smaller;margin-top: -17px;">English</p>
                  <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 250</p>
                </div>
                </a>
          </div>
          </div><br><br>
          <a routerLink="/stream"><img src="assets/image/book any time.png" alt="" style="margin-top: 480px;width: 1300px;margin-left: 110px;border-radius: 10px;"></a><br>
       <br><br><br>