<div id="carouselExampleInterval" data-bs-ride="carousel" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <a routerLink="/stream"><img src="/assets/image/slide2.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <a routerLink="/offers"><img src="/assets/image/slide1.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/sports"><img src="/assets/image/slide3.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/event"><img src="/assets/image/eventslide1.png" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
  </div>
  <b><button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button></b>
  <b><button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button></b>
  
   <!-- Indicators/dots -->
   <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3"></button>
    </div>
</div><br><br>
  
    <!-- ----------nextline---------->
  <h5 style="margin-left: 102px;font-size: 24px;"><b>Recommended Events</b></h5><br>
  
<!-- ------------nextline ----------->
 <div id="a3">
    <!-----------------first image------------------>
  <div class="card" style="width:250px;height: 130px;">
    <a href="/event1" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/eventph-1.png" alt="Card image" style="height: 420px;border-radius: 10px;">
    <div class="card-body">
      <h4 class="card-title">Yahya Bootwala Presents Dialoguebaaz</h4>
      <p class="card-text" style="margin-top: -3px;">Medai - The Stage, Alwarpe...</p>
      <p class="card-text" style="font-size: smaller;margin-top: -17px;">Poetry</p>
      <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 399 onwards</p>
    </div>
    </a>
  </div>
    <!-- -----------------second image---------------------->
    <div class="card" style="width:250px;height: 130px;">
      <a  routerLink="/event2" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/eventph-2.png" alt="Card image" style="height: 420px;border-radius: 10px;">
      <div class="card-body">
        <h4 class="card-title">Kisi Ko Batana Mat Ft. Anubhav Singh Bassi</h4>
        <p class="card-text" style="margin-top: -3px;">Sir Mutha Venkatasubba...</p>
        <p class="card-text" style="font-size: smaller;margin-top: -17px;">Stand up Comedy</p>
        <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 999 onwards</p>
      </div>
      </a>
    </div>
      <!-- -------------------third image---------------------->
      <div class="card" style="width:250px;height: 130px;">
        <a routerLink="/event3" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/eventph-3.png" alt="Card image" style="height: 420px;border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">SO mini THINGS! - Aiyyo Shraddha World Tour...</h4>
          <p class="card-text" style="margin-top: -3px;">Sir Mutha Venkatasubba...</p>
          <p class="card-text" style="font-size: smaller;margin-top: -17px;">Stand up Comedy</p>
          <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 799 onwards</p>
        </div>
        </a>
      </div>
        <!-- -------------------------------------fourth image---------------------------------->
        <div class="card" style="width:250px;height: 130px;">
          <a routerLink="/event4" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/eventph-4.png" alt="Card image" style="height: 420px;border-radius: 10px;">
          <div class="card-body">
            <h4 class="card-title">BLACK TICKET- A Fun Standup show</h4>
            <p class="card-text" style="margin-top: -3px;">Alchemy Black Box Studio....</p>
            <p class="card-text" style="font-size: smaller;margin-top: -17px;">Improv Comedy</p>
          <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 299</p>
          </div>
          </a>
    </div>
    </div><br><br>

    <div id="a4">
      <!-----------------first image------------------>
    <div class="card" style="width:250px;height: 130px;">
      <a routerLink="/event5" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/eventph-5.png" alt="Card image" style="height: 420px;border-radius: 10px;">
      <div class="card-body">
        <h4 class="card-title">Music Journey</h4>
        <p class="card-text" style="margin-top: -3px;">Vani Mahal: Chennai</p>
        <p class="card-text" style="font-size: smaller;margin-top: -17px;">Concerts</p>
        <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 500 onwards</p>
      </div>
      </a>
    </div>
      <!-- -----------------second image---------------------->
      <div class="card" style="width:250px;height: 130px;">
        <a routerLink="/event6" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/eventph-6.png" alt="Card image" style="height: 420px;border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">College to Corporate</h4>
          <p class="card-text" style="margin-top: -3px;">Backyard: Chennai</p>
          <p class="card-text" style="font-size: smaller;margin-top: -17px;">Stand up Comedy</p>
          <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 249 onwards</p>
        </div>
        </a>
      </div>
        <!-- -------------------third image---------------------->
        <div class="card" style="width:250px;height: 130px;">
          <a routerLink="/event7" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/eventph-7.png" alt="Card image" style="height: 420px;border-radius: 10px;">
          <div class="card-body">
            <h4 class="card-title">Family Man Returns by Praveen Kumar</h4>
            <p class="card-text" style="margin-top: -3px;">Music Academy Mini Hall....</p>
            <p class="card-text" style="font-size: smaller;margin-top: -17px;">Stand up Comedy</p>
            <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 399 onwards</p>
          </div>
          </a>
        </div>
          <!-- -------------------------------------fourth image---------------------------------->
          <div class="card" style="width:250px;height: 130px;">
            <a routerLink="/event8" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/eventph-8.png" alt="Card image" style="height: 420px;border-radius: 10px;">
            <div class="card-body">
              <h4 class="card-title">VIBE PANROM - A Tamil standup variety comed...</h4>
              <p class="card-text" style="margin-top: -3px;">Alchemy Black Box Studio....</p>
              <p class="card-text" style="font-size: smaller;margin-top: -17px;">Stand up Comedy</p>
              <p class="card-text" style="font-size: smaller;margin-top: -14px;">₹ 250 onwards</p>
            </div>
            </a>
      </div>
      </div><br><br>
      <a routerLink="/stream"><img src="assets/image/book any time.png" alt="" style="margin-top: 480px;width: 1300px;margin-left: 110px;border-radius: 10px;"></a><br>
   <br><br><br>