<div id="a">
  
     
    <button data-bs-toggle="modal" data-bs-target="#rent1" style="background-color: rgb(247, 92, 92);color: white;width: 230px;margin-top: 320px;height: 55px;border-radius: 5px;border: none;margin-left: 445px;">Rent ₹79</button>


    <button data-bs-toggle="modal" data-bs-target="#Buy" style="background-color: rgb(247, 92, 92);color: white;width: 230px;margin-top: 320px;height: 55px;border-radius: 5px;border: none;margin-left: 8px;">Buy ₹109</button>


<a routerLink="/stream4trailer" style="margin-left: -770px;">
    <img src="/assets/image/stream4trailer.png" width="280px" height="430px" style="margin-top: -220px;" alt="">
</a>

    <img src="/assets/image/stream4share.png" alt="" data-bs-toggle="modal" data-bs-target="#myModal" style="margin-left: 875px;width: 135px;height: 52px;margin-top: -595px;border-radius: 5px;cursor: pointer;">
</div>

<div class="modal fade"  id="myModal">
<div class="modal-dialog modal-dialog-centered" style="width: 400px;height: 300px;">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
  <h5 class="modal-title" style="color: black;margin-left: 160px;">Share</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->
<div class="modal-body" style="margin-bottom: -15px;">
    <a href="https://www.facebook.com" style="text-decoration: none;color: black;font-size: 20px;">
            <div style="display: flex;justify-content: space-between;">
                    <div><p>facebook</p></div>
                    <div><i class="fa-brands fa-facebook"></i></div>
             </div>
     </a>
  <hr style="margin-top: -5px;">
  <a href="https://twitter.com/i/flow/login" style="text-decoration: none;color: black;font-size: 20px;">
            <div style="display: flex;justify-content: space-between;">
                    <div><p>X (Formerly Twitter)</p></div>
                    <div><i class="fa-brands fa-x-twitter"></i></div>
            </div>
    </a>
  <hr style="margin-top: -5px;">
  <a href="https://www.instagram.com/accounts/login" style="text-decoration: none;color: black;font-size: 20px;">
     <div style="display: flex;justify-content: space-between;">
            <div><p>instagram</p></div>
            <div><i class="fa-brands fa-square-instagram"></i></div>
     </div>
    </a>
</div>
</div>
</div>
</div>


<div class="modal fade"  id="rent1">
<div class="modal-dialog modal-dialog-centered" style="width: 370px;height: 300px;">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h5 class="modal-title" style="color: black;margin-left: 10px;">Rent</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->
<div class="modal-body" style="margin-bottom: -15px;margin-top: -10px;margin-bottom: 2px;">
<p style="font-size: small;margin-left: 5px;">You can rent this movie for 30 days but will have 2 days to watch it once you start playback (available for download)</p>
<hr style="margin-top: -10px;">
<div style="display: flex;justify-content: space-between;">
  <div style="margin-left: 10px;"><b>HD</b></div>
  <div style="margin-right: 10px;display: flex;"><b>₹79</b><p style="color: green;margin-left: 10px;"><i class="fa-solid fa-circle-check"></i></p></div>
</div>
<div style="background-color: lightgrey;width: 100%;">
   <p style="font-size: small;margin-left: 5px;padding-top: 9px;">Streaming supported on mobile, website, Android TV, Apple TV, and Fire TV. Plays on <span style="color: rgb(247, 92, 92);text-decoration: underline;cursor: pointer;">compatible devices</span></p>
   <p style="font-size: small;margin-left: 5px;margin-top: -5px;padding-bottom: 10px;"> By continuing, I agree to <span style="color: rgb(247, 92, 92);text-decoration: underline;cursor: pointer;">Terms and Conditions</span> and express my consent to complete the transaction.</p>
</div>
 <a routerLink="/stream1payment"><button style="background-color: rgb(247, 92, 92);width: 100%;height: 40px;color: white;border: none;border-radius: 5px;"><b>Continue</b></button></a><br>
</div>
</div>
</div>
</div>


<div class="modal fade"  id="Buy">
<div class="modal-dialog modal-dialog-centered" style="width: 370px;height: 300px;">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h5 class="modal-title" style="color: black;margin-left: 10px;">Buy</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<!-- Modal body -->
<div class="modal-body" style="margin-bottom: -15px;margin-top: -10px;margin-bottom: 2px;">
<p style="font-size: small;margin-left: 5px;">Watch the movie any time after purchasing it (available for download)</p>
<hr style="margin-top: -10px;">
<div style="display: flex;justify-content: space-between;">
  <div style="margin-left: 10px;"><b>HD</b></div>
  <div style="margin-right: 10px;display: flex;"><b>₹109</b><p style="color: green;margin-left: 10px;"><i class="fa-solid fa-circle-check"></i></p></div>
</div>
<div style="background-color: lightgrey;width: 100%;">
   <p style="font-size: small;margin-left: 5px;padding-top: 9px;">Streaming supported on mobile, website, Android TV, Apple TV, and Fire TV. Plays on <span style="color: rgb(247, 92, 92);text-decoration: underline;cursor: pointer;">compatible devices</span></p>
   <p style="font-size: small;margin-left: 5px;margin-top: -5px;padding-bottom: 10px;"> By continuing, I agree to <span style="color: rgb(247, 92, 92);text-decoration: underline;cursor: pointer;">Terms and Conditions</span> and express my consent to complete the transaction.</p>
</div>
 <a routerLink="/stream1payment"><button style="background-color: rgb(247, 92, 92);width: 100%;height: 40px;color: white;border: none;border-radius: 5px;"><b>Continue</b></button></a><br>
</div>
</div>
</div>
</div>



<h6 style="margin-left: 135px;font-size: 24px;color: black;margin-top: 50px;"><b>About the movie</b></h6>
<p style="margin-left: 135px;margin-top: 20px;">An author`s life changes completely after two sisters come to work for him. Is this a sinister war of love and identity?</p>
<hr style="width: 890px;margin-left: 135px;margin-top: 30px;">
<h6 style="margin-left: 145px;font-size: 24px;color: black;margin-top: 10px;"><b>Cast</b></h6>
<img src="/assets/image/stream4actor-1.png" alt="" width="950px" style="margin-left: 125px;margin-top: 15px;"><br>
<hr style="width: 890px;margin-left: 135px;margin-top: 20px;"><br>

<h6 style="margin-left: 140px;font-size: 24px;color: black;"><b>Crew</b></h6>
<img src="/assets/image/stream4actor-2.png" alt="" width="950px" style="margin-left: 130px;margin-top: 15px;"><br>
<hr style="width: 890px;margin-left: 135px;margin-top: 20px;"><br>


<div style="display: flex; margin-left: 135px;margin-top: -10px;padding-bottom: 5px;">

<a routerLink="/movie" style="color: gray;font-size: x-small;text-decoration: none;margin-left: 5px;"><p>Movie tickets</p></a> <span style="color: gray;font-size: large;margin-top: -7px;margin-left: 5px;">→</span>
<a routerLink="/stream" style="color: gray;font-size: x-small;text-decoration: none;margin-left: 5px;"><p>Latest Online Movies</p></a> <span style="color: gray;font-size: large;margin-top: -7px;margin-left: 5px;">→</span>
<p style="color: gray;font-size: x-small;text-decoration: none;margin-left: 5px;cursor: pointer;">Sin Sister</p>
</div>
<div style="background-color: whitesmoke;padding-top: 10px;padding-bottom: 15px;"></div>
