<div id="carouselExampleInterval" data-bs-ride="carousel" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <a routerLink="/stream"><img src="/assets/image/slide2.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <a routerLink="/offers"><img src="/assets/image/slide1.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/sports"><img src="/assets/image/slide3.jpg" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/event"><img src="/assets/image/eventslide1.png" class="d-block w-100" style="width:100%;height: 380px;" alt="..."></a>
    </div>
  </div>
  <b><button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button></b>
  <b><button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button></b>
  
   <!-- Indicators/dots -->
   <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3"></button>
    </div>
</div><br><br>

  <h5 style="margin-left: 102px;font-size: 24px;"><b>Recommended Movies</b></h5><br>
  
<!-- ------------nextline ----------->
 <div id="a3">
    <!-----------------first image------------------>
  <div class="card" style="width:250px;height: 130px;">
    <a href="/96" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/96.png" alt="Card image" style="width:100%;border-radius: 10px;">
    <div class="card-body">
      <h4 class="card-title">96</h4>
      <p class="card-text">Drama/Romantic</p>
    </div>
    </a>
  </div>
    <!-- -----------------second image---------------------->
    <div class="card" style="width:250px;height: 130px;">
      <a  routerLink="/siren" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/sairan.png" alt="Card image" style="width:100%;border-radius: 10px;">
      <div class="card-body">
        <h4 class="card-title">Siren</h4>
        <p class="card-text">Action/Drama</p>
      </div>
      </a>
    </div>
      <!-- -------------------third image---------------------->
      <div class="card" style="width:250px;height: 130px;">
        <a href="/lover" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/lover.png" alt="Card image" style="width:100%;border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">Lover</h4>
          <p class="card-text">Drama/Romantic</p>
        </div>
        </a>
      </div>
        <!-- -------------------------------------fourth image---------------------------------->
        <div class="card" style="width:250px;height: 130px;">
          <a href="/simbu" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/vinithandi.png" alt="Card image" style="width:100%;border-radius: 10px;">
          <div class="card-body">
            <h4 class="card-title">Vinnaithaandi Varuvaayaa</h4>
            <p class="card-text">Drama/Romantic</p>
          </div>
          </a>
    </div>
    </div><br><br>

    <div id="a4">
      <!-----------------first image------------------>
    <div class="card" style="width:250px;height: 130px;">
      <a href="/ranam" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/ram.png" alt="Card image" style="width:100%;border-radius: 10px;">
      <div class="card-body">
        <h4 class="card-title">Ranam Aram Thavarel</h4>
        <p class="card-text">Mystery/Thriller</p>
      </div>
      </a>
    </div>
      <!-- -----------------second image---------------------->
      <div class="card" style="width:250px;height: 130px;">
        <a href="/vadakkupatti" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/vadakkupatti ramasamy.png" alt="Card image" style="width:100%;border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title">Vadakkupatti Ramasamy</h4>
          <p class="card-text">Comedy,Drama,Sci-Fi</p>
        </div>
        </a>
      </div>
        <!-- -------------------third image---------------------->
        <div class="card" style="width:250px;height: 130px;">
          <a href="/suriya" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/varanamyairam.png" alt="Card image" style="width:100%;border-radius: 10px;">
          <div class="card-body">
            <h4 class="card-title">Varanam Aayiram (Edited Version)</h4>
            <p class="card-text">Drama</p>
          </div>
          </a>
        </div>
          <!-- -------------------------------------fourth image---------------------------------->
          <div class="card" style="width:250px;height: 130px;">
            <a href="/manjuboys" style="text-decoration: none;color: black;" ><img class="card-img-bottom" src="assets/image/malu boys.png" alt="Card image" style="width:100%;border-radius: 10px;">
            <div class="card-body">
              <h4 class="card-title">Manjummel Boys</h4>
              <p class="card-text">Adventure,Drama,Thriller</p>
            </div>
            </a>
      </div>
      </div><br><br>
      <a routerLink="/stream"><img src="assets/image/book any time.png" alt="" style="margin-top: 400px;width: 1300px;margin-left: 110px;border-radius: 10px;"></a><br>
   <br><br>