<div>
    <input type="text" placeholder="Search for Offers by Name or Bank" id="" style="width: 270px;margin-left: 170px;margin-top: 20px;font-size: small;color: grey;border: solid 1px lightgrey;height: 30px;padding-left: 15px;outline: none;"><br>
    <h5 style="color: grey;text-align: center;letter-spacing: 7px;margin-top: 30px;">FILTER OFFERS BY</h5>
    <nav style="display: flex;text-align: center;margin-left: 450px;margin-top: 40px;" >
       
        <div style="color: grey;">
            <span class="aq1">
            <i class="fa-regular fa-credit-card" style="font-size: 27px;"></i><br>
            <p style="font-size: 14px;margin-top: 20px;">Credit Card</p>
            </span>
        </div>

        <div style="margin-left: 20px;color: grey;">
            <span class="aq1">
             <i class="fa-regular fa-credit-card" style="font-size: 27px;"></i><br>
             <p style="font-size: 14px;margin-top: 20px;">Debit Card</p>
            </span>
        </div>

        <div style="margin-left: 20px;color: grey;">
            <span class="aq1">
                <i class="fa-solid fa-ticket" style="font-size: 27px;"></i><br>
                <p style="font-size: 14px;margin-top: 20px;">BookMyShow</p>
            </span>
        </div>

        <div style="margin-left: 25px;color: grey;">
            <span class="aq1">
             <i class="fa-solid fa-tv" style="font-size: 27px;"></i><br>
             <p style="font-size: 14px;margin-top: 20px;">cinema</p>
            </span>
        </div>

        <div style="margin-left: 35px;color: grey;">
            <span class="aq1">
                <i class="fa-solid fa-wallet" style="font-size: 27px;"></i><br>
                <p style="font-size: 14px;margin-top: 20px;">Wallet</p>
            </span>
        </div>

        <div style="margin-left: 28px;color: grey;">
            <span class="aq1">
             <i class="fa-solid fa-gift" style="font-size: 27px;"></i><br>
             <p style="font-size: 14px;margin-top: 20px;">Rewards</p>  
            </span>
        </div>

        <div style="margin-left: 28px;color: grey;">
            <span class="aq1">
             <i class="fa-brands fa-google-pay" style="font-size: 27px;"></i><br>
             <p style="font-size: 14px;margin-top: 20px;">UPI</p>
            </span>
        </div>

        <div style="margin-left: 30px;color: grey;">
            <span class="aq1">
                <i class="fa-solid fa-money-bill-1-wave" style="font-size: 27px;"></i><br>
                <p style="font-size: 14px;margin-top: 20px;">Pay Later</p>  
            </span>
        </div>
    </nav>
</div><br>
<img src="/assets/image/offers.png" alt="" width="100%" style="margin-top: 20px;">
<div style="display: flex;margin-left: 145px;padding-top: 10px;padding-bottom: 10px;">
    <nav style="font-size: small;"><a routerLink="/movie" style="text-decoration: none;color: grey;">Online Tickets</a></nav>
    <nav style="color: grey;font-size: small;margin-left: 10px;"><i class="fa-solid fa-right-long"></i></nav>
    <nav style="color: grey;font-size: small;margin-left: 10px;cursor: pointer;">Offers</nav>
</div>
<div style="background-color: whitesmoke;height: 80px;padding-left: 130px;padding-right: 130px;padding-top: 15px;padding-bottom: 90px;">
    <p style="color: grey;margin-left: 8px;"><b>Privacy Note</b></p>
    <p style="font-size: small;margin-top: -10px;margin-left: 8px;color: grey">By using www.bookmyshow.com(our website), you are fully accepting the Privacy Policy available at <span style="color: rgb(247, 92, 92);cursor: pointer;">https://bookmyshow.com/privacy</span> governing your access to Bookmyshow and provision of services by Bookmyshow to you. If you do not accept terms mentioned in the <span style="color: rgb(247, 92, 92);cursor: pointer;">Privacy Policy</span>, you must not share any of your personal information and immediately exit Bookmyshow.</p>
</div>