<hr style="margin-top: -1px;">
<div id="a1" style="margin-top: -16px;">
        <div id="a2"></div>
        <div id="a3">
           <div style="margin-top: -1px;">
            <img src="/assets/image/event1slide.png"  height="450px" width="100%" alt="">
           </div><br>
           <div id="par">
            <div id="ch1" style="margin-left: 20px;">
                <h4><b>Yahya Bootwala Presents Dialoguebaaz</b></h4>
                   <p>Poetry | 1hr 30mins</p>                    
            </div>
            <div id="ch2" style="margin-right: 20px;">
                <button style="background-color: lightgrey;color: white;padding: 15px;padding-left: 60px;padding-right: 60px;font-size: large;border: none;border-radius: 5px;cursor: pointer;color: black;" disabled>Sold Out</button>
            </div>
           </div>
           <hr id="ding" style="margin-top: -1px;margin-left: 20px;margin-right: 20px;">
           <p style="margin-left: 45px;">📍 NA   |</p>
           <div id="dong"></div>
           <div id="f1">
            <div id="s1">
                <p style="margin-left: 15px;font-size: 18px;margin-top: 20px;"><b>Share this event</b></p>
                <p style="margin-left: 5px;margin-top: -5px;">
                    <a class="massmuthu" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a class="massmuthu" href="https://twitter.com/i/flow/login"><i class="fa-brands fa-x-twitter"></i></a>
                </p>
            </div>
            <div id="s2">
                <p style="margin-top: 20px;margin-left: 20px;"><b>{{likeStatus}}</b></p><br>
                <div id="dd">
                    <div style="display: flex;margin-top: -20px;margin-left: 25px;">
                        <p style="font-size: 21px;color: green;margin-top: -7px;"><i class="fa-solid fa-thumbs-up"></i></p>
                        <p style="margin-left: 10px;font-size: 16px;margin-top: -3px;">{{likes}}</p>
                    </div>
                    <div style="margin-top: -20px;margin-right: -10px;">
                        <button  id="onclick"  (click)="onClickInterested()"  (click)="toggleLike()">{{ isLiked ? 'Interested ' : 'Interested ?' }}</button>
                    </div>
                </div>
                <div style="margin-left: 25px;margin-top: -15px;">
                    <p style="font-size: smaller;color: grey;">People have shown interest <br> recently</p>
                   </div>

                   <div style="background-color:whitesmoke;padding: 10px;"></div>
                   <div>
                    <p style="margin-left: 20px;font-size: 18px;margin-top: 30px;"><b>About</b></p>
                    <p style="margin-left: 20px;">Come experience 1 hour of poetry and storytelling as Yahya takes you on a <br> journey of love, heartbreaks, success and failures all driving through the <br> roads of philosophy and humour. Catch him, trying out his brand new <br> material. Pieces that have never been performed before.</p>
                </div>
                    <summary style="margin-top: 30px;font-size: 18px;list-style: none;margin-left: 20px;"><b>Terms & Conditions</b></summary>
                    <details>
                        <summary  style="margin-left: 570px;margin-top: -30px;font-size: 20px;padding-bottom: 40px;"></summary>
                        <ol style="margin-left: 10px;margin-top: 20px;">
                            <li>Tickets once booked cannot be exchanged or refunded</li>
                            <li>An Internet handling fee per ticket may be levied. Please check the total amount before payment</li>
                            <li> We recommend that you arrive at-least 30 minutes prior at the venue for a seamless entry </li>
                            <li> It is mandatory to wear masks at all times and follow social distancing norms</li>
                            <li>Please do not purchase tickets if you feel sick</li>
                            <li> Unlawful resale (or attempted unlawful resale) of a ticket would lead to seizure or cancellation of that ticket without refund or other compensation</li>
                            <li> Rights of admission reserved</li>
                            <li>These terms and conditions are subject to change from time to time at the discretion of the organizer</li>
                        </ol><br>
                        <p style="margin-left: 20px;font-size: 14px;"><b>COVID SAFETY GUIDELINES</b></p>
                        <ul style="margin-left: 10px;font-size: 15px;">
                            <li>Owing to the recent conditions surrounding the COVID – 19 pandemic, as a pre-condition to gaining access to the venue (events and theatres) you are required to be fully vaccinated and may be required to display your COVID – 19 certificate at the venue as per the various norms /regulations prevailing in the said State. The venue provider and governing authorities reserve the right to exclude any user from the venue if there are sufficient grounds to believe so for failure to abide by the protocols. You agree to exit without protest or refund. Users are required to check the restrictions as applicable in their State</li>
                            <li>Use of masks is mandatory at all times and the visitors are required to maintain social distancing norms. The venue and Bigtree reserve the right to change/modify the terms and conditions.</li>
                            <li>Bigtree does not assume any responsibility with regards to any injury or complications due to COVID – 19 accrued as a result of your participation.</li>
                            <li>The above guidelines are currently mandatory for <b>Delhi/NCR, Maharashtra and Karnataka.</b> These terms and conditions may vary depending on the state where the event is held and are subject to changes</li>
                        </ul>
                      </details>

                      <div style="background-color: whitesmoke;padding: 20px;"></div>
            </div>
            
            <div id="s3">
                <div style="display: flex;background-color: white;text-align: center;">
                <div  style="font-size: 25px;background-color: lightpink;margin-left: 15px;margin-top: 15px;">
                <p style="margin-top: 20px;">📕</p>
                </div>
                <div style="background-color: lightpink;margin-top: 15px;padding-right: 7px;">
                   <p style="font-size: small;margin-top: 8px;"><b>Contactless Ticketing & <br>
                    Fast-Track Entry with M- <br>
                    ticket. <span data-bs-toggle="modal" data-bs-target="#myModal" style="text-decoration: none;color: rgb(247, 92, 92);cursor: pointer;">Learn How ></span></b>
                </p> 

                <div class="modal fade"  id="myModal">
                    <div class="modal-dialog modal-dialog-centered" style="margin-left: 365px;margin-top: 15px;">
                      <div class="modal-content" style="width: 1300px;height: 500px;">
                  
                        <!-- Modal Header -->
                        <div  style="margin-bottom: -30px;">
                            <img src="/assets/image/eventlearnmore.png"  alt="" width="800px" height="500px" style="margin-top: 20px;">
                        </div>
                    <div style="margin-left: 740px;margin-top: -475px;">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" style=></button>
                    </div>
                      </div>
                    </div>
                </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
           



       
        <div id="a4"></div>
</div>